<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="">Main</a>
            <a href="manual">Manual Input</a>
        </nav>
        <main>
            <div class="predictions">
                <div class="prediction current"><h2 id="price">9999999.99999</h2> <span>Current Price</span></div><div class="prediction good"><h2 id="pred">9999999.99999</h2> <span>Current Prediction</span></div><div class="prediction gain"><h2 id="gain">9999999.99999</h2> <span>Price Gain</span></div>
                <script>
                    current = 0
                    prediction = 0
                    fetch("predict").then(function(val){
                        val.text().then(function(data) {
                            document.getElementById("pred").innerHTML = data;
                            prediction = data;
                        });
                    });

                    fetch("currentprice").then(function(val){
                        val.text().then(function(data) {
                            document.getElementById("price").innerHTML = data;
                            current = data;
                        });
                    });
                    
                    document.getElementById("gain").innerHTML = prediction - current;

                </script>
            </div>
            <canvas id="mainchart"></canvas>
            <script>
            chartdata = {}
            fetch("currentstats").then(function(val){
                val.json().then(function(data) {
                    chartdata = data; 
                });
            });
            
            chart1data1 = [];
            for(i = 0; i < chartdata["x_train"]; i++){
                chart1data1.push({
                    x: chartdata["x_train"][i],
                    y: chartdata["y_train"][i]
                });
            }
                dataout = {type: 'scatter',
                    data: {
                        datasets: [{
                            label: "Training data",
                            data: chart1data1
                        },
                        {
                            label: "Prediction data"
                            data: []
                        }]
                    }}
item = document.getElementById("mainchart");
chart = new Chart(item, dataout)
            </script>
        </main>
    </body>
</html>
