<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="">Main</a>
            <a href="manual">Manual Input</a>
        </nav>
        <main>
            <div class="predictions">
                <div class="prediction current"><h2 id="price">9999999.99999</h2> <span>Current Price</span></div><div class="prediction bad"><h2 id="pred">9999999.99999</h2> <span>Current Prediction</span></div><div class="prediction gain"><h2 id="gain">9999999.99999</h2> <span>Price Gain</span></div>
                <script>
                    fetch("predict").then(function(val){
                        val.text().then(function(data) {
                            document.getElementById("pred").innerHTML = data;
                        });
                    });

                    fetch("currentprice").then(function(val){
                        val.text().then(function(data) {
                            document.getElementById("price").innerHTML = data;
                            document.getElementById("gain").innerHTML = document.getElementById("pred").innerHTML - data;
                        });
                    });
                    


                </script>
            </div>
            <canvas id="chart1"></canvas>
            <canvas id="chart2"></canvas>
            <canvas id="chart3"></canvas>
            <script>
            fetch("graphdata").then(function(val){
                val.json().then(function(data) {
                    chart1 = new Chart(document.getElementById("chart1"), {
                        type: 'scatter',
                        data: {
                        datasets: [{
                            label: 'Training data',
                            backgroundColor: "rgba(252, 233, 79, 1)",
                            data: data[0]
                        },
                        {
                            label: 'Predictions',
                            backgroundColor: "rgba(255, 65, 65, 1)",
                            data: data[1]
                        }]

                    }
                    });
                    chart2 = new Chart(document.getElementById("chart2"), {
                        type: 'scatter',
                        data: {
                        datasets: [{
                            label: 'Test data',
                            backgroundColor: "rgba(252, 233, 79, 1)",
                            data: data[2]
                        },
                        {
                            label: 'Predictions',
                            backgroundColor: "rgba(255, 65, 65, 1)",
                            data: data[3]
                        }]

                    }
                    });
                    chart3 = new Chart(document.getElementById("chart3"), {
                        type: 'scatter',
                        data: {
                        datasets: [{
                            label: 'Full data',
                            backgroundColor: "rgba(252, 233, 79, 1)",
                            data: data[4]
                        },
                        {
                            label: 'Predictions',
                            backgroundColor: "rgba(255, 65, 65, 1)",
                            data: data[5]
                        }]

                    }
                    });
                });
            });
            </script>
        </main>
    </body>
</html>
