<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="main">Main</a>
            <a href="manual">Manual Input</a>
        </nav>
        <main>
            <canvas id="mainchart"></canvas>
            <div>
                <div class="prediction good"><h2 id="pred">UP</h2> <span>Daily prediction</span></div>
                <script>
                    fetch("predict").then(function(val){
                        val.text().then(function(data) {
                            document.getElementById("pred").innerHTML = data;
                        }); 
                    });
                </script>
            </div>
        </main>
    </body>
</html>
