body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: #EFEFEF;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%
}

nav a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    background-color: #1e1e1e; 
}

main {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 30px;
}

main canvas {
    padding: 10px;
    height: 200px;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 0px;
}

main .predictions {
    display: block;
    text-align: center;
}

main div .prediction {
    margin: 0px;
    padding: 15px;
    display: inline-block;
    font-size: 130%;
    width: 30%
    /*border-radius: 10px;*/
}

.prediction span {
    font-size: 50%;
}

.prediction p {
    margin: 10px;
}

.prediction h2 {
    margin: 10px;
}

.bad {
    background-color: #FF4141;
}

.bad:hover {
    background-color: #FF8181
}

.good {
    background-color: #41FF6F;
}

.good:hover {
    background-color: #81FFA8;
}

.current {
    background-color: #FCE94F;
}

.current:hover {
    background-color: #FFF7B2;
}

.gain {
    background-color: #787878;
}

.gain:hover {
    background-color: #C9C9C9;
}

button {
    width: 211px;
    background-color: #C9C9C9;
    padding: 16px;
    border: none;
    width: 500px;
}

button:hover {
    background-color: #787878;
}

form {
    display: flex;
}

form .labels {
    text-align: right;
    padding-right: 5px;
}

form .labels p {
    padding: 8px;
}

form .inputs {
    padding-left: 5px;
}

form input {
    display: block;
    width: 500px;
    padding: 16px;
}
